.position__container
{
	padding: 1rem;
	/* border: 2px solid red; */
	height: 100%;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: center;
	background: radial-gradient(circle,
	#A5EBE9, 
	#4CA9B6 
	); 
}
.position__heading
{
	width: 50%;
	color: black;
	font-size: 33px;
	margin: 1rem;
	font-weight: bolder;
}
.position__side
{
	color: grey;
	color: black;
	font-size: 15px;
	text-align: left;
	width: 170px;
}
.position__side--color
{
	/* list-style: none; */
	width: 50%;
	/* border: 2px solid red; */
	justify-content: space-between;
	margin-bottom: 1rem;
}
/* .position__confirm
{
	color: black;
	font-size: 27px;
	margin: 1rem;
	font-weight: bolder;
} */
.cube__pos--container
{
	/* border: 2px solid red; */
	width: 300px;
	height: 350px;
}
.cube__pos--pic
{
	width: 85%;
	/* height: 100%; */
	animation: levitate 4s ease-in-out infinite;
}
@keyframes levitate
{
	from
	{
		transform: translateY(0px);
	}
	50%
	{
		transform: translateY(40px);
	}
	to
	{
		transform: translateY(0px);

	}
}
.position__axis
{
	position: absolute;
	width: 180px;
	filter: drop-shadow(0 0 5px rgb(69, 69, 69));
	bottom: 0rem;
	left: 1rem;
	/* border: 2px solid red; */
}

.pos__btn
{
	height: 40px;
	width: 150px;
	background-color: #F8437C;
	border-color: transparent;
	border-radius: 50px;
	font-size: large;
	font-weight: medium;
	filter: drop-shadow(0px 10px 10px rgb(209, 209, 209));
	filter: drop-shadow(0px 10px 10px #489da9);
	transition: all 0.15s ease-in;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid grey;

}
.pos__btn:hover
{
	cursor: pointer;
	background-color: rgb(255, 28, 100);
	filter: drop-shadow(0px 10px 10px rgb(183, 183, 183));
	filter: drop-shadow(0px 10px 10px #397e87);
}
